* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4); /* escurece só o fundo */
    z-index: -1; /* fica atrás de todo o conteúdo */
}

html,
body {
    height: 100%;
    font-family: "Segoe UI", sans-serif;
    color: #c9d1d9;
    overflow: hidden; /* Sem scroll */
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #161b22;
    padding: 2rem 3rem;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 800px;
    box-shadow: 9px 10px 30px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 30px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 30px 6px rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 3rem;
    color: #865bbe;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0 1.5rem;
    color: #8b949e;
    margin-bottom: 50px;
}

.projetos h3 {
    margin-bottom: 0.5rem;
    color: #865bbe;
}

.projetos ul {
    list-style: none;
    padding: 0;
}

.projetos li {
    margin: 0.3rem 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.redesociais {
    color: #865bbe;
}

.redesociais:hover {
    color: #ffffff;
}

a:hover {
    color: #9862df;
}
